<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AzureUploadStoreDelete.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="imagedatabaseAzureConnectionString" connectionString="Data Source=jowbfvmk9d.database.windows.net;Initial Catalog=imagedatabase;Persist Security Info=True;User ID=geoklar;Password=Ordereze1"
      providerName="System.Data.SqlClient" />
    <add name="AzureUploadStoreDelete.Properties.Settings.DatabaseConnectionString"
      connectionString="Data Source=jowbfvmk9d.database.windows.net;Initial Catalog=imagedatabase;Persist Security Info=True;User ID=geoklar;Password=Ordereze1" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <applicationSettings>
    <AzureUploadStoreDelete.Properties.Settings>
      <setting name="StorageUsername" serializeAs="String">
        <value>geoklar</value>
      </setting>
      <setting name="StorageAccessKey" serializeAs="String">
        <value>Pi+w82PXiTUQj05ejAf4HstsnyNVU6PlLQdKlyNoc48c5V7+tlJpBz61V+PfipbqJ3izCyOZRFt9T8m3nVMl5Q==</value>
      </setting>
      <setting name="StorageContainer" serializeAs="String">
        <value>images</value>
      </setting>
      <setting name="DatabaseImagesTable" serializeAs="String">
        <value>dbo.images</value>
      </setting>
    </AzureUploadStoreDelete.Properties.Settings>
  </applicationSettings>
</configuration>